# Binaries
# 忽略编译生成的二进制文件
crate
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test Artifacts
# 忽略测试生成的临时目录
mock_src/
rpmbuild_test/
.rpm_cache_test/
test-build-*/

# Build Artifacts
# 忽略构建产物
*.rpm
*.tar.gz
hk-repo/

# User Specific
# 忽略用户特定的缓存和配置
.rpm_cache/
rpmbuild/
*.log

# OS Specific
.DS_Store
Thumbs.db

# Editor / IDE
.idea/
.vscode/
*.swp
*~
